.main-container {
  background-color: wheat;
  .about-container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .about-container-1 {
      flex: 1 1 0;
      img {
        margin: 0;
      }
    }
    .about-container-2 {
      flex: 1 1 0;
      padding: 30px;
      font-size: 1.5rem;
      line-height: 1em;
    }
  }
  .choose-container {
    display: flex;
    flex-direction: row;

    .container-1 {
      flex: 1 1 0;
      margin: 10px 5px 10px 10px;
      padding: 10px 10px 10px 5px;
      display: flex;
    }

    .container-2 {
      flex: 1 1 0;
      margin: 10px 10px 10px 5px;
      padding: 10px 10px 10px 5px;
      display: flex;
    }
    .box {
      padding: 50px;
      flex: 1 1 0;
      text-align: center;
      margin: 10px;
      color: white;
      background-color: grey;
    }
  }
}

@media screen and (max-width: 1670px) {
  .main-container {
    .about-container {
      background-color: wheat;
      flex-direction: column;
      .about-container-1 {
        img {
          width: 100%;
        }
      }
      .about-container-2 {
        font-size: 1.2rem;
        line-height: 1.5em;
      }
    }
    .choose-container {
      display: flex;
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 890px) {
  .container-1 {
    flex-direction: column;
  }

  .container-2 {
    flex-direction: column;
  }
}
