.service-list-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 100px;

  .service-box {
    flex: 1 1 0;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
    color: gray;
    background-color: white;
    height: fit-content;
    width: 400px;

    img {
      height: 50%;
      width: 100%;
    }
    p {
      padding: 10px;
      text-align: left;
    }
  }
}
@media screen and (max-width: 1670px) {
  .service-list-container {
    padding: 50px;
    flex-wrap: wrap-reverse;
    .service-box {
      flex: 1 1 0;
      border-radius: 5px;
      border: none;
      margin-right: 20px;
      color: gray;
      background-color: white;
      height: 60vh;
      width: 500px;

      margin-bottom: 50px;
      img {
        height: 50%;
        margin-bottom: 0.8rem;
      }
      p {
        padding: 10px;
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .service-list-container {
    flex-direction: column;
    padding: 10px;
    align-items: center;
    .service-box {
      height: fit-content;
      img {
        height: 50%;
      }
      p {
        padding: 10px;
        text-align: left;

        font-size: 1.2rem;
        ul {
          list-style: none;
          font-size: 1.2rem;
        }
      }
    }
  }
}
@media screen and (max-width: 580px) {
  h1 {
    font-size: 1.5rem;
  }
  .service-list-container {
    h1 {
      font-size: 1rem;
    }
    .service-box {
      margin-right: 0;
      width: 70%;
    }
  }
}
