.contacts-container {
  background: #faf4df;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .iso-container {
    height: 50px;
    cursor: pointer;
    img {
      height: 100%;
    }
  }
  .contact-box-container {
    display: flex;
    .contact-box {
      padding-right: 10px;
    }
  }
}
@media screen and (max-width: 890px) {
  .contacts-container {
    height: fit-content;
    align-items: center;
    padding: 10px;
    .contact-box-container {
      flex-direction: column;
    }
  }
}
