.query-form {
  input {
    border-radius: 2px;
    border: none;
    margin-bottom: 15px;
    font-size: 1rem;
    height: 50px;
    width: 250px;
    padding: 5px;
  }

  textArea {
    border-radius: 2px;
    border: none;
    margin: 10px 0 15px 0;
    font-size: 1rem;
    padding: 5px;
  }
  button {
    color: white;
    background-color: black;
    border: none;
    margin: 30px;
    width: 125px;
    height: 50px;
  }

  .box-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .box-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .box-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1200px) {
  .query-form {
    input {
      border-radius: 2px;
      border: none;
      margin-bottom: 15px;
      font-size: 0.8rem;
      height: 30px;
      width: 200px;
    }
    textArea {
      font-size: 0.8rem;
      width: 200px;
    }
    button {
      font-size: 0.8rem;
      width: 100px;
      height: 30px;
    }
    .box-1 {
      flex-direction: column;
    }
    .box-2 {
      flex-direction: column;
      .box-3 {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 910px) {
  .query-form {
    padding: 5px;
    margin-bottom: 0;
    input {
      border-radius: 2px;
      border: none;
      margin-bottom: 15px;
      font-size: 1rem;
      height: 50px;
      width: 200px;
      padding: 5px;
    }

    textArea {
      border-radius: 2px;
      border: none;
      margin: 10px 0 15px 0;
      font-size: 1rem;
      padding: 5px;
    }
    button {
      color: white;
      background-color: black;
      border: none;
      margin: 30px;
      width: 100px;
      height: 50px;
      font-size: 1rem;
    }

    .box-1 {
      flex-direction: row;
    }

    .box-2 {
      flex-direction: row;
      .box-3 {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 910px) {
  .query-form {
    input {
      width: 90%;
    }
    .box-1 {
      width: 100%;
      flex-direction: column;
    }

    .box-2 {
      width: 100%;

      flex-direction: column;
      input {
        width: 90%;
      }
      .box-3 {
        width: 100%;
        align-items: center;
        div {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          input {
            width: 90%;
          }
        }
      }
      .box-4 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        textarea {
          width: 90%;
        }
      }
    }
  }
}
